@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:200,300,400,500,600,700,800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: Helvetica, Arial;
    
}

@import './blobz.css';
@import './imports.css';

:root {
    --cta-btn-bg-color: theme('colors.dark');
    --cta-btn-color: theme('colors.light');
    --cta-btn-bg-color-hover: theme('colors.light');
    --cta-btn-color-hover: theme('colors.dark');
    --cta-btn-border-color: theme('colors.dark');

    --theme-toggle-border-color: theme('colors.dark');
    --theme-toggle-selector-color: theme('colors.dark');
}
.dark {
    --cta-btn-bg-color: theme('colors.light');
    --cta-btn-color: theme('colors.dark');
    --cta-btn-bg-color-hover: theme('colors.dark');
    --cta-btn-color-hover: theme('colors.light');
    --cta-btn-border-color: theme('colors.light');

    --theme-toggle-border-color: theme('colors.light');
    --theme-toggle-selector-color: theme('colors.light');
}
div.call-to-action {
    @apply text-sm my-4 flex items-center;
}

div.call-to-action button {
    @apply border-[var(--cta-btn-border-color)] bg-[var(--cta-btn-bg-color)] text-[var(--cta-btn-color)] border-2 rounded-md py-2 px-4;
    transition: all .3s ease-in-out;
}

div.call-to-action button:hover {
    @apply border-[var(--cta-btn-border-color)] bg-[var(--cta-btn-bg-color-hover)] text-[var(--cta-btn-color-hover)];
}

.hide {
    transition: opacity .3s linear;
    opacity: 0;
}

h2 {
    @apply mb-10 text-4xl leading-none font-bold;
}

section {
    @apply mb-40;
}

.theme-toggle {
    @apply relative min-w-[80px] h-8 border border-black rounded-full cursor-pointer border-[var(--theme-toggle-border-color)];
}
    .theme-toggle::after {
        content: '';
        @apply absolute block left-1 top-[5px] w-5 h-5 rounded-full bg-[var(--theme-toggle-selector-color)];
        transition: transform .2s ease-in-out;
    }
    .light .theme-toggle::after {
        transform: translateX(0);
    }
    .dark .theme-toggle::after {
        transform: translateX(50px);
    }
.theme-mode {
    @apply absolute w-5 h-5 top-[5px];
}
    .dark-mode {
        @apply left-1;
    }
    .light-mode {
        @apply right-1;
    }