@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:200,300,400,500,600,700,800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: Helvetica, Arial;
    
}

@import './blobz.css';
@import './imports.css';

:root {
    --cta-btn-bg-color: theme('colors.dark');
    --cta-btn-color: theme('colors.light');
    --cta-btn-bg-color-hover: theme('colors.light');
    --cta-btn-color-hover: theme('colors.dark');
    --cta-btn-border-color: theme('colors.dark');

    --theme-toggle-border-color: theme('colors.dark');
    --theme-toggle-selector-color: theme('colors.dark');
}
.dark {
    --cta-btn-bg-color: theme('colors.light');
    --cta-btn-color: theme('colors.dark');
    --cta-btn-bg-color-hover: theme('colors.dark');
    --cta-btn-color-hover: theme('colors.light');
    --cta-btn-border-color: theme('colors.light');

    --theme-toggle-border-color: theme('colors.light');
    --theme-toggle-selector-color: theme('colors.light');
}
div.call-to-action {
    @apply text-sm my-4 flex items-center;
}

div.call-to-action button,
div.call-to-action a {
    @apply block border-[var(--cta-btn-border-color)] bg-[var(--cta-btn-bg-color)] text-[var(--cta-btn-color)] border-2 rounded-md py-2 px-4;
    transition: all .3s ease-in-out;
}

div.call-to-action button:hover,
div.call-to-action a:hover {
    @apply border-[var(--cta-btn-border-color)] bg-[var(--cta-btn-bg-color-hover)] text-[var(--cta-btn-color-hover)];
}

.hide {
    transition: opacity .3s linear;
    opacity: 0;
}

h2 {
    @apply mb-10 text-4xl leading-none font-bold;
    font-size: clamp(1.8rem, 3vw, 2.25rem);
}

section {
    @apply mb-40;
}

footer {
    @apply text-center p-4;
}
    footer p {
        @apply inline-block;
        font-size: clamp(.3rem, 3vw, .9rem);
    }
    footer p a {
        @apply text-secondary;
    }
    footer p a:hover {
        @apply text-primary;
    }

.loading {
    @apply w-[100dvw] h-[100dvh] bg-[red] flex justify-center align-middle;
}

@media (max-width: 1122px) {
    footer p.description {
        @apply hidden;
    }
}

@media (max-width: 770px) {
    header,
    section {
        @apply px-4;
    }
}