:root {
    --exp-selector-text-color: theme('colors.dark');
    --exp-selector-bg-color: transparent;
    --exp-selector-border-color: theme('colors.dark');

    --exp-selector-bg-color-hover: theme('colors.dark');
    --exp-selector-border-color-hover: theme('colors.dark');
    --exp-selector-text-color-hover: theme('colors.light');

    --exp-selector-logo-stroke-color: theme('colors.dark');
    --exp-selector-logo-fill-color: theme('colors.dark');
    --exp-selector-logo-stroke-color-hover: theme('colors.light');
    --exp-selector-logo-fill-color-hover: theme('colors.light');

    --tags-bg-color: theme('colors.secondary');
    --tags-text-color: theme('colors.dark');
}

.dark {
    --exp-selector-text-color: theme('colors.light');
    --exp-selector-bg-color: theme('colors.dark');
    --exp-selector-border-color: theme('colors.light');

    --exp-selector-bg-color-hover: theme('colors.light');
    --exp-selector-border-color-hover: theme('colors.light');
    --exp-selector-text-color-hover: theme('colors.dark');

    --exp-selector-logo-stroke-color: theme('colors.light');
    --exp-selector-logo-fill-color: theme('colors.light');
    --exp-selector-logo-stroke-color-hover: theme('colors.dark');
    --exp-selector-logo-fill-color-hover: theme('colors.dark');

    --tags-bg-color: theme('colors.secondary');
    --tags-text-color: theme('colors.dark');
}

.blockquote {
    @apply relative my-5 text-sm italic text-center;
}
    .blockquote:before {
        content: open-quote;
        @apply contents text-xl;
    }
    .blockquote:after {
        content: close-quote;
        @apply contents text-xl;
    }
/* 
.blockquote {
    @apply my-5 text-sm italic text-center;
}
    .blockquote span:before {
        content: open-quote;
        @apply contents text-white text-xl;
    } 
    */

.experiences {
    @apply flex mt-10 gap-28;
}
    .list-experiences {
        @apply flex flex-col gap-2;
    }
        .list-experiences li {
            @apply flex p-4 gap-5 justify-between
            min-w-[410px]
            text-[var(--exp-selector-text-color)] bg-[var(--exp-selector-bg-color)] border-[1px] border-[var(--exp-selector-border-color)] rounded-md
            cursor-pointer;
        }
            .list-experiences .experience {
                @apply flex gap-4;
            }
                .list-experiences .experience .company {
                    @apply flex flex-col gap-2;
                }
            .list-experiences li img,
            .list-experiences li svg {
                @apply self-start w-[40px];
                object-fit: contain;
            }
                .list-experiences li svg path {
                    stroke: var(--exp-selector-logo-stroke-color);
                    fill: var(--exp-selector-logo-fill-color)
                }
            .list-experiences li .company-name {
                @apply text-lg leading-none;
            }
            .list-experiences li.role {
                @apply text-[var(--role-text-color)]
            }
            .list-experiences li :is(.role, time) {
                @apply text-xs;
            }
            .list-experiences li time {
                @apply self-center;
            }
        .list-experiences li:hover,
        .list-experiences li.active {
            @apply bg-[var(--exp-selector-bg-color-hover)] text-[var(--exp-selector-text-color-hover)] border-[var(--exp-selector-border-color-hover)];
        }
        .list-experiences li:hover svg path,
        .list-experiences li.active svg path {
            stroke: var(--exp-selector-logo-stroke-color-hover);
            fill: var(--exp-selector-logo-fill-color-hover)
        }
.experience-description {
}
    .experience-description h3 {
        @apply font-semibold text-lg mb-4;
    }
    .experience-description li {
        @apply text-sm mb-2 list-disc;
    }
    .experience-description .tags {
        @apply flex flex-wrap gap-2 mt-8;
    }
        .tags li {
            @apply flex gap-2
            text-xs p-[6px] pr-[9px]
            bg-[var(--tags-bg-color)] text-[var(--tags-text-color)] rounded-xl;
        }
            .tags li svg {
                @apply min-h-full min-w-[20px]
            }