:root {
    --article-content-bg-color: theme('colors.lightGray');
}

.dark {
    --article-content-bg-color: theme('colors.dark');
}

.list-articles ul {
    /* @apply flex gap-4 justify-center items-stretch*/
    @apply overflow-y-hidden; 
}
    .list-articles article {
        @apply w-full px-4 mx-2;
    }
        .list-articles article > a {
            @apply h-full block;
        }
        .list-articles .content {
            @apply p-4 bg-[var(--article-content-bg-color)] h-full rounded-b-lg;
        }   
            .list-articles .img-container {
                @apply rounded-t-lg relative
                border-b-[theme('colors.secondary')] border-b-[6px];
            }
            .list-articles img {
                @apply relative w-full rounded-t-lg;
                aspect-ratio: 16 / 9;
                object-fit: cover; 
                filter: brightness(.7);
                transition: filter .2s linear;
            }
                .list-articles .img-container::after {
                    content: 'Read on Medium';
                    @apply absolute inset-0 top-[40%] text-white w-full h-full text-center opacity-0;
                    transition: opacity .2s linear;
                }
                .list-articles article:hover .img-container::after {
                    opacity: 1;
                }
                .list-articles article:hover img {
                    filter: brightness(.4);
                }
                .list-articles .content h3 {
                    @apply line-clamp-2;
                    font-size: clamp(1rem, 3vw, 1.125rem);
                }
                .list-articles .content .publishedAt {
                    @apply text-xs text-disabled mb-6;
                }
                .list-articles .content .sample {
                    @apply mt-4 text-sm line-clamp-6;
                }

/* Initial Arrow Background State */
.slick-slider {
    @apply mt-10;
}
.slick-slider .slick-prev, 
.slick-slider .slick-next {
    @apply h-full w-32 z-20 opacity-0;
    background-color: theme('colors.black' / .05);
    transition: background-color .2s linear, opacity .2s linear;
} 
/* Initial Arrow State */
.slick-slider .slick-prev::before, 
.slick-slider .slick-next::before {
    @apply text-4xl;
    font-size: clamp(1.5rem, 3vw, 2.25rem);
}
.slick-slider .slick-prev {
    @apply left-0;
}
.slick-slider .slick-next {
    @apply right-0;
}
/* On Hover Article for Background Arrow State */
.slick-slider:hover .slick-prev, 
.slick-slider:hover .slick-next {
    opacity: 1;
    background-color: theme('colors.black' / .2);
}
/* On Hover Arrows for Background Arrows State */
.slick-slider .slick-prev:hover, 
.slick-slider .slick-next:hover {
    background-color: theme('colors.black' / .4);
}

@media (max-width: 1280px) {
    .slick-slider .slick-prev, 
    .slick-slider .slick-next {
        @apply w-[4rem];
    }
}

@media (max-width: 770px) {
    .sharingiscaring-section {
        @apply px-0;
    }
    .sharingiscaring-section > .container {
        @apply px-4;
    }
}

@media (max-width: 600px) {
    .list-articles article {
        @apply px-1 mx-1;
    }
    .slick-slider .slick-prev, 
    .slick-slider .slick-next {
        @apply w-[2rem];
    }   
}