:root {
    --step-text-color: theme('colors.light');
    --step-text-bg-color: theme('colors.dark');
    --card-border-color: theme('colors.secondary');
}

.dark {
    --step-text-color: theme('colors.dark');
    --step-text-bg-color: theme('colors.light');

    --card-border-color: theme('colors.secondary');
}

.strategicthinking-section {

}
    .list-cards > ul {
        @apply grid gap-10 auto-cols-max xl:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 justify-center items-stretch;
    }
        .list-cards > ul > li {
            @apply border-[var(--card-border-color)] border-[1px] rounded-xl text-center p-4 pb-6 w-full;
        }
        .list-cards > ul > li h3 {
            @apply mb-8 leading-none font-semibold p-8;
            font-size: clamp(1.2rem, 3vw, 1.25rem)
        }
        .list-cards > ul > li > ul {
            @apply flex flex-col gap-4;
        }
            .list-cards > ul > li > ul > li {
                @apply relative w-max m-auto py-2 px-6 bg-[var(--step-text-bg-color)] text-[var(--step-text-color)] rounded-xl text-lg w-[100%];
            }
                .list-cards > ul > li > ul > li svg {
                    @apply absolute top-3 left-3;
                }
                .list-cards > ul > li > ul > li svg path {
                    stroke: var(--step-text-color);
                }
    

@media (max-width: 639px) {
    .list-cards > ul {
        @apply justify-stretch;
        grid-auto-columns: auto;
    }
}